*{
    margin: 0;
    padding: 0;
}
html{
    scroll-snap-type: y mandatory;
}
.app{
    height: 100vh;
    background-color: black;
    display: grid;
    place-items: center;
}
.app-container{
    border-radius: 10px;
    height: 90vh;
    width: 70%;
    max-width: 500px;
    position: relative;
    overflow: scroll;
    scroll-snap-type: y mandatory;
}
.app-container::-webkit-scrollbar{
display: none;
}
